@model IEnumerable<Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

  <table id="table_id" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Combustible)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seguro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.anio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Combustible.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seguro.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.anio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

